<div class='row'>
  <div id="post_vote_error_<%= post.to_param %>" class="alert alert-error" style="display: none" >
  </div>
  <div class='span0 well text-center'>
    <% if logged_in? %>
        <!-- page refreshing version -->
      <%#= link_to vote_post_path(post, vote: 'true'), method: 'post' do %>  
        <!-- Ajax version -->
      <%= link_to vote_post_path(post, vote: 'true'), method: 'post', remote: true do %> 
        <i class='icon-arrow-up'></i>
      <% end %>
    <% end %>  
    <br/>
    <span id='post_<%= post.id %>_votes'><%= post.total_votes %></span> votes
    <br/>
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: 'false'), method: 'post', remote: true do %>
        <i class='icon-arrow-down'></i>
      <% end %>
    <% end %>  
  </div>
  <div class='span8 well'>
    <% post.categories.each_with_index do |cat| %>
      <span class='badge' ><%= link_to cat.name, category_path(cat) %></span>
    <% end %>
    <p class='lead'>
      <%= link_to post.title, fix_url(post.url) %>     <!-- post_path(post)  -->
    </p>  
    <p>
      <%= post.description %>
    </p>  
    post by <%= link_to post.creator.username, user_path(post.creator) %> at <%= display_datetime(post.created_at) %>
    <% if logged_in? && post.creator == current_user %>
      <span class="btn btn-primary btn-mini"><%= link_to 'edit', edit_post_path(post) %></span>
    <% end %>

    <h6><%= link_to "#{post.comments.size} comments" , post_path(post) %><h6>
  </div>
</div>