<div class='control-group'>
  <% @post.categories.each do |cat| %>
    <span class='badge'><%= link_to cat.name, category_path(cat) %></span>
  <% end %>
  <br/>
  <span class='lead'><%= link_to @post.title, fix_url(@post.url) %></span>
  <hr/>
  <h5><%= @post.description %></h5>  
</div>
<hr/>
<%= render 'shared/errors', obj: @comment %>

<div class='control-group'>
  <% if logged_in? %>
      <%= form_for [@post, @comment] do |f| %>
      <%= f.label 'Please leave a comment:' %>
      <%= f.text_area :body, class: 'span4' %>
      <br/>
      <%= f.submit 'Create comment', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>

<h5>Comments:</h5>

<% @post.reload.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>  
<% end %>

<span class="btn btn-primary btn-mini"><%= link_to 'Back', posts_path %></span>







